
<%- include('partials/header')  %>

<% let a = user._doc %>
<div class="main">

    <section class="sign-in">
        <div class="container1">
            <div class="row profile">
                <div class="col-sm-12">
                    <div class="col-sm-5" >
                        <div class="prof-links prof-links1 prof-links2">
                            <img src="img/users/<%= a.photo %>" alt="Avatar" style="margin-left:10px;margin-top:70px;width:250px; border-radius: 50%;">
                        </div>
                    </div>
                    <div class="col-sm-7" >
                        <div id="ep1">
                            <h2 class="form-title">Edit / Update Profiles</h2>
                            <form  class="register-form" id="ep11" style="width: 60%;" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="firstName"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" name="name"  placeholder="Your First Name" value="<%= a.name %>"/>
                                </div>
                                
                                <div class="form-group">
                                    <% var currentDate = new Date(a.dateOfBirth); %>
                                    <% var cd= currentDate.toLocaleDateString('en-US'); %>
                                    <% cd = cd.split("/")%>
                                    <% cd = cd[2]+"-"+cd[0]+"-"+cd[1] %>
                                    <label for="dateOfBirth"><i class="fa fa-calendar-o"></i></label>
                                    <input type="date" id="dateOfBirth" name="dateOfBirth" value="<%= cd %>"  placeholder="Your Date Of Birth"/>
                                </div>
                                <div class="form-group">
                                    <label for="mobileNumber"><i class="fa fa-phone"></i></label>
                                    <input type="number" name="mobileNumber" value="<%= a.mobileNumber%>" placeholder="Your Mobile Number"/ >
                                </div>
                                <div class="form-group">
                                    <label for="lastName"><i class="fa fa-camera"></i></label>
                                    <input type="file" name="photo" value="<%= a.photo %>" accept="image/*" id="photo" placeholder="choose photo"/>
                                    
                                </div>
                            </form>
                            <div class="form-group form-button">
                                <button class="form-submit" id="edit-details">Update</button>
                            </div>
                        </div>                  

                    </div>

                </div>
            </div>
            
        </div>
    </section>


</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!-- Font Icon -->
<link rel="stylesheet" href="logFiles/fonts/material-icon/css/material-design-iconic-font.min.css">

<!-- Main css -->
<link rel="stylesheet" href="logFiles/css/style.css">
<script src="logFiles/vendor/jquery/jquery.min.js"></script>
<script src="logFiles/js/main.js"></script>

<%- include('partials/footer') %>